<li>
	{{burger_name}}
	<br>

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Leave No Crumb Behind!{{else}}One More for the Road!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Let's Never Speak of This Burger Again</button>
</li>